body{
    background-color: #52d9d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1,15rem;
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
table{
    border-collapse: collapse;
    width: 100%;
}
a   { text-decoration: none;
    border: 2px solid black; /* Exemplo de borda preta com 2px */
    padding: 2px; /* Espaço interno opcional para melhorar a aparência */
    border-radius: 5px; /* Borda arredondada, opcional */}
