body{
    background-color: #52d9d8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1,15rem;
    text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: green;
}
table{
    border-collapse: collapse;
    width: 100%;
}
a  {
    text-decoration: none;
    border: radius;
   }
